#home { 
  display: flex;
  min-height: calc(100vh-91px);
}

#cta {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
}

#cta .title {
  font-size: 3rem;
  color: #D9D7D8;
}

#cta .title span {
  color: #C61A18;
}

#cta .description {
  font-size: 1rem;
  color: #EC6A5D;
}

#cta_buttons {
  display: flex;
  gap: 24px;
}

#cta_buttons a {
  text-decoration: none;
  color: #0C0201;
}

#email_button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #E37171;
  padding: 8px 14px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgba(222, 162, 162, 0.1);
  border-radius: 12px;
}